*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: #011627;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}



.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;  
}
.choice:hover{
    cursor: pointer;
    background-color: #011627;
    opacity: 0.8;
}

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

.score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}
.msg{
    background-color: #011627;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
#first{
   
}
.hide{
    display: none;
}